*{
    font-size: 95%;
    font-family: "Verdana"
}
body{
    background-color:#5ea1db;
    /*color:#003193;*/
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
div.site{
    position: fixed;
    left:0;
    top:50px;
    right:0;
    bottom:0;
    overflow: auto;
}

header, .header{
    width: 100%;
    background-color: #4c4c4c;
    text-align: center; 
}

.menu{
    color:#fff;
    font-size: 2em;
    line-height: 50px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    width: auto;
    height: 50px;
    display: inline;
    margin:0 20px;
}
.menu ul li a, .menu ul li a:hover{
    color:#fff;
    text-decoration: none;
}
.menu ul li a.active{
    color:#003193;
}

.container{
    background-color: #43779c;
    color:#000;
    height: 100%;
}
.container a{
    color: #0f0f0f;
}

/*processor list*/
.site-processador-list{
    list-style:none;
    padding:0;
}
.site-processador-list li{
    border-bottom:1px dashed #efefef;
    margin:auto 10px;
}


.box-assembly{
    width: 80%;
    height: 80%;
    resize: none;
    
}

/*bootstrap theme*/
.modal-content{
    background-color:#5ea1db;
}

.modal-header {
    border-bottom: 1px solid #43779C;
}
.modal-footer {
    border-top: 1px solid #43779C;
}


button{
    background-color:#5d5d5d;
    border:none;
    color:#fff;
    font-weight:bold;
    border-radius:3px;
    padding:2px;
    margin:2px;
    font-size:15px;
    min-width:40px;
}
button:hover{
    background-color:#7d7d7d;
}
input{
    text-align:center;
    padding:0 5px;
    font-weight:bold;
    border-radius:3px;
    border:none;
    color:#000;
    font-size:15px;
}